@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&display=swap");

:root {
	--primary: #e8efdb;
	--secondary: #13221c;
	--accent: #cee89e;
	--font-grey-light: #687469;
	--font-grey-dark: #92a196;
	--font-text: 1.75rem;
	--font-heading: 3rem;
}
@media (prefers-color-scheme: light) {
	:root {
		--primary: #13221c;
		--secondary: #e8efdb;
		--accent: #13221c;
	}
	.hero .nav-pills-container .nav-pill .nav-pill-link {
		color: var(--primary);
	}
	.cta-btn {
		background-color: var(--primary);
		color: var(--accent);
	}
	.navbar .ham-menu-container .icon-menu.dark {
		display: initial;
	}
	.navbar .ham-menu-container .icon-menu.dark {
		display: none;
	}
} 
@media (prefers-color-scheme: dark) {
	:root {
		--primary: #e8efdb;
		--secondary: #13221c;
	}
	.navbar .ham-menu-container .icon-menu.light {
		display: initial;
	}
	.navbar .ham-menu-container .icon-menu.dark {
		display: none;
	}
} 
@font-face {
    font-family: 'Satoshi-Light';
    src: url(/assets/fonts/Satoshi/Satoshi-Light.otf);
}
@font-face {
    font-family: 'Satoshi-Regular';
    src: url(/assets/fonts/Satoshi/Satoshi-Regular.otf);
}
@font-face {
    font-family: 'Satoshi-Medium';
    src: url(/assets/fonts/Satoshi/Satoshi-Medium.otf);
}
@font-face {
    font-family: 'Satoshi-Bold';
    src: url(/assets/fonts/Satoshi/Satoshi-Bold.otf);
}

@font-face {
    font-family: 'NeueMachina-Light';
    src: url(/assets/fonts/NeueMachina/NeueMachina-Light.otf);
}
@font-face {
    font-family: 'NeueMachina-Regular';
    src: url(/assets/fonts/NeueMachina/NeueMachina-Regular.otf);
}
@font-face {
    font-family: 'NeueMachina-Ultrabold';
    src: url(/assets/fonts/NeueMachina/NeueMachina-Ultrabold.otf);
}

/* reset */
html {
	font-size: 16px;
}
body {
	margin: 0;
	padding: 0;
    font-family: 'Satoshi';
	scroll-behavior: smooth;
}

body * {
	transition: 0.2s;
}

/* utils */
.bg-light {
	background-color: var(--primary);
}
.bg-dark {
	background-color: var(--secondary);
}

.font-primary {
	color: var(--primary);
}
.font-secondary {
	color: var(--secondary);
}
.font-grey-light {
	color: var(--font-grey-light);
}
.font-grey-dark {
	color: var(--font-grey-dark);
}
.font-accent {
	color: var(--accent);
}

.font-light {
	font-family: "Satoshi-Light";
}
.font-regular {
	font-family: "Satoshi-Regular";
}
.font-medium {
	font-family: "Satoshi-Medium";
}
.font-bold {
	font-family: "Satoshi-Bold";
}

.font-w100 {
	font-weight: 100;
}
.font-w200 {
	font-weight: 200;
}
.font-w300 {
	font-weight: 300;
}
.font-w400 {
	font-weight: 400;
}
.font-w500 {
	font-weight: 500;
}
.font-w600 {
	font-weight: 600;
}

/* hero */
.hero {
	padding: 0 6rem;
	position: relative;
}
.hero .navbar {
	color: var(--secondary);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 3rem;
	padding-top: 1.5rem;
	z-index: 200;
}

.hero .navbar.navbar-mobile {
	display: none;
	justify-content: flex-start;
	gap: 2rem;
	position: relative;
}
.hero .navbar.navbar-mobile .ham-menu-container {
	position: absolute;
	top: 5rem;
	left: 0;
	width: 100%;
}



.menu-bg-blur {
	height: 200vh;
	width: 100vw;
	opacity: 50%;
	position: absolute;
	background-color: var(--primary);
	display: none;
	top: 0;
	left: 0;
	z-index: 100;
}
.hero .navbar.navbar-mobile .ham-menu-container {
	z-index: 200;
}
.hero .navbar.navbar-mobile .ham-menu-container .ham-nav-pills-container {
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0;
	margin: 0;
	background-color: transparent;
	overflow: hidden;
	gap:0;
	z-index: 200;
}
.hero
	.navbar.navbar-mobile
	.ham-menu-container
	.ham-nav-pills-container
	.nav-pill {
	padding: 1rem 2rem;
	width: 100%;
}
.hero
	.navbar.navbar-mobile
	.ham-menu-container
	.ham-nav-pills-container
	.nav-pill:hover {
	color: var(--primary);
	background-color: var(--secondary);
}
.hero
	.navbar.navbar-mobile
	.ham-menu-container
	.ham-nav-pills-container
	.nav-pill:hover >.nav-pill-link {
	color: var(--primary);
}
.hero .navbar.navbar-mobile .menu-btn-container button {
	background: transparent;
	padding: 0;
	border: none;
	outline: none;
}
.hero .navbar.navbar-mobile .menu-btn-container .btn-close {
	display: none;
}
.hero .navbar .brand-logo-container .brand-wrapper {
	text-decoration: none;
	margin: 0 auto;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	gap: 1rem;
	text-transform: uppercase;
	color: var(--secondary);
	font-family: "NeueMachina-Ultrabold";
}
.hero .navbar.navbar-mobile .brand-logo-container .brand-name {
	margin: 0;
}
.hero .navbar .brand-logo-container .brand-logo {
	height: 55px;
	width: 100px;
	object-fit: cover;
}
.hero .navbar .brand-logo-container .brand-name {
	margin: 0;
	font-size: 2.5rem;
}
.hero .nav-pills-container {
	display: flex;
	gap: 4rem;
}
.hero .nav-pills-container .nav-pill {
	cursor: pointer;
	list-style: none;
	font-size: 1.5rem;
	transform: translateX(-100%);
	-webkit-animation: slide-animation 0.3s ease-in ;
	-ms-animation: slide-animation 0.3s ease-in ;
	-moz-animation: slide-animation 0.3s ease-in ;
	animation: slide-animation 0.3s ease-in ;
	animation-fill-mode: forwards ;
}

.hero .nav-pills-container .nav-pill:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	-ms-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.hero .nav-pills-container .nav-pill:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@keyframes slide-animation {
	from {
		transform: translateX(-100%)
	}
	to {
		transform: translateX(0%);
	}
}
@-webkit-keyframes slide-animation {
	from {
		transform: translateX(-100%)
	}
	to {
		transform: translateX(0%);
	}
}
@-ms-keyframes slide-animation {
	from {
		transform: translateX(-100%)
	}
	to {
		transform: translateX(0%);
	}
}
@-moz-keyframes slide-animation {
	from {
		transform: translateX(-100%)
	}
	to {
		transform: translateX(0%);
	}
}

.hero .nav-pills-container .nav-pill .nav-pill-link {
	color: var(--secondary);
	text-decoration: none;
	font-weight: 500;
}
.hero .hero-main-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	justify-content: center;
	margin: 0;
	margin-top: 3rem;
	padding-bottom: 10rem;
}
.hero .wave-cutout-container {
	width: 100%;
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: -25px;
}
.hero .hero-main-container .heading-container {
	width: 100%;
	text-align: right;
}
.hero .hero-main-container .heading-container .heading {
	color: var(--secondary);
	font-size: 5rem;
	width: 70vw;
	margin: 0;
	margin-left: auto;
	font-weight: normal;
	margin-bottom: 16px;
	line-height: 6rem;
}
.hero .hero-main-container .heading-container .heading span {
	font-family: "NeueMachina-Regular";
}
.hero .hero-main-container .heading-container .subheading {
	color: var(--font-grey-light);
	width: 55vmax;
	font-size: 1.8rem;
	margin: 0;
	margin-left: auto;
	line-height: 2.2rem;
}
.hero .hero-main-container .actions-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
}
section .actions-container .arrow-upright {
	width: calc(var(--font-text) + 2px)
}
.hero .hero-main-container .actions-container .cta-signal-text {
	color: var(--secondary);
	font-style: italic;
	font-size: 1.8rem;
	margin-left: 1.5rem;
}

/* all-sections (rich-history) */

/* s1 */
.s1 {
	justify-content: flex-end;
}
.s1 .content-container {
	font-family: "Satoshi-Light";
	text-align: right;
	padding-right: 0;
	width: 60%;
}
.s1 .content-container .text-container .subheading {
	width: 80%;
}
.s1 .content-container .text-container .heading {
	margin: 0;
	margin-left: auto;
}
.s1 .content-container .text-container .heading span {
	font-family: "NeueMachina-Regular";
}
.s1 .content-container .text-container .text {
	margin-left: auto;
}

/* s2 */
.s2 {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	text-align: left;
	padding-left: 0;
}
.image-bg {
	width: 6rem;
	height: 23rem;
	background-color: var(--primary);
}
.s9 .image-bg {
	background-color: transparent;
}
 .content-container .content-heading {
	text-transform: uppercase;
	color: var(--primary);
	font-weight: 600;
	font-size: var(--font-heading);
	margin: 0;
 }
/* s3 */
.s3 {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	text-align: right;
	padding-right: 0px;
}
.s3 .content-container .text-container {
	align-items: flex-end;
}
.s3 .actions-container {
	justify-content: flex-end;
}
.s3 .content-container .text-container .text:nth-child(2) {
	width: 80%;
}

/* s4 */
.s4 {
	margin: 5rem 0;
	padding: 0;
}
.s4 .content-container {
	padding: 2rem 6rem;
	width: 100%;
}
.s4 .content-container .text-container .heading {
	width: 80%;
	text-transform: uppercase;
	font-size: 3rem;
	line-height: 4.5rem;
	margin: 0;
}

/* s5 */
.s5 {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: right;
}
.s5 .content-container {
	padding-right: 0;
	width: 70%;
}
.s5 .content-container .text-container {
	align-items: flex-end;
}
.s5 .content-container .text-container .heading {
	text-align: right;
	font-size: var(--font-heading);
	font-weight: 300;
    margin: 0;
    margin-bottom: 1rem;
}
.s5 .content-container .text-container .subheading {
	width: 80%;
}

/* s6 */
.s6 {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	text-align: left;
	padding-left: 0px;
}

/* s7 */
.s7 {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: left;
}
.s7 .content-container {
	text-align: right;
	padding-right: 0;
	width: 70%;
}
.s7 .content-container .text-container .heading {
	margin: 0;
	margin-left: auto;
	font-size: var(--font-heading);
	font-weight: 300;
    margin-bottom: 1rem;
}

/* s8 */
.s8 {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	text-align: right;
	padding-right: 0px;
}
.s8 .content-container .text-container {
	align-items: flex-end;
}
.s8 .actions-container {
	justify-content: flex-end;
}

/* s9 */
.s9 {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	padding-bottom: 12rem;
	padding-left: 0px;
}
.s9 a {
	font-style: italic;
	text-decoration: none;
}
.s9 .image-container .image-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 0;
	position: relative;
}
.aboutme-signal-text {
	position: absolute;
	font-style: italic;
	left: 0;
	bottom: -3rem;
	font-size: var(--font-text);
}
.s9 .content-container .text-container .heading {
	font-size: var(--font-heading);
	margin: 0;
	margin-bottom: 3rem;
}
.s9 .content-container .text-container span{
	font-family: 'NeueMachina-Light';
}
.s9
	.content-container
	.text-container
	.subheading-container
	.subheading {
	margin: 0;
}

/* s10 */
.s10 {
	margin: 0;
	padding: 4rem 6rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.s10 .section-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	height: 100%;
}
.s10 .content-container {
	margin-bottom: 2rem;
	padding-left: 0;
	width: 60%;
}
.s10 .content-container .text-container .heading {
	text-transform: uppercase;
	margin: 0;
    font-size: var(--font-heading);
}
.s10 .content-container .text-container .subheading {
	margin: 0;
}
.s10 .form-container {
	text-transform: uppercase;
	width: 85%;
}
.s10 .form-container .input-wrapper {
	padding: 5px;
	background-color: var(--secondary);
	padding: 0.8rem 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
	font-size: 1.5rem;
	font-family: "Satoshi";
    font-weight: 500;
}
.s10 .form-container .input-wrapper .input-field::placeholder{
	color: var(--accent);
}
.s10 .form-container .input-wrapper:nth-child(1) {
	justify-content: flex-start;
}
.s10 .form-container .input-wrapper:nth-child(2) {
	align-items: flex-start;
	flex-direction: column;
}
.s10 .form-container .input-wrapper .input-field {
	background-color: transparent;
	border: none;
	outline: none;
	color: var(--primary);
	padding: 3px 2px;
	padding-top: 0;
	font-size: 1.5rem;
	width: 17rem;
}
.s10 .form-container .input-wrapper:nth-child(2) .input-field {
	margin-left: 0;
}
.s10 .form-container .input-wrapper:nth-child(2) .input-field {
	border: none;
    font-family: "Satoshi";
    font-weight: 500;
	width: 100%;
	resize: vertical;
}
.s10 .image-wrapper img {
	width: 20rem;
	height: 26rem;
	object-fit: cover;
}

/* footer */

.footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;
	padding: 5rem 6rem;
	padding-bottom: 1rem;
}
.footer .footer-top {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	gap: 15rem;
}
.footer .footer-top .footer-links-list {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 7rem;
}
.footer .footer-top .footer-links-container {
	list-style: none;
	padding: 0;
}
.footer .footer-top .footer-links-list .list-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.5rem;
}
.footer .footer-top .footer-links-list .list-head {
	text-transform: uppercase;
	font-size: var(--font-text);
}
.footer .footer-top .footer-links-list .footer-pill-link {
	text-decoration: none;
	font-size: 0.9rem;
	font-size: var(--font-text);
}
.footer .footer-top .footer-text {
	font-size: var(--font-text);
}
.footer .brand-name {
	width: 100%;
	font-size: 16vw;
	text-transform: uppercase;
}

/* common */
section {
	padding: 5rem 6rem;
	display: flex;
	justify-content: flex-start;
	align-items: stretch !important;
}
.right-aligned:not(:nth-child(1)):not(:nth-child(7)) {
	flex-direction: row-reverse;
	justify-content: flex-end;
}
.left-aligned:not(:nth-child(5)) {
	justify-content: flex-start;
}
section .content-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: var(--font-text);
	padding: 0 4rem;
}
section.left-aligned .content-container {
	align-items: flex-start;
}
section.right-aligned .content-container {
	align-items: flex-end;
}
section .content-container .text-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
}
section .action-redirect {
	text-decoration: none;
	border-bottom: 2px solid var(--accent);
}
section .content-container .text-container .text {
	font-weight: 300;
	margin: 0;
	color: var(--font-grey-dark);
}
section .actions-container {
	margin-top: 10px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	gap: 1rem;
}
section .actions-container .action-redirect {
	font-style: italic;
	color: var(--accent);
	font-weight: 300;
}
section .image-container {
	display: flex;
	align-items: center;
}
section .image-container .image-wrapper .section-cover {
	width: 21rem;
	background: var(--primary);
	object-fit: cover;
}
section .content-container .text-container .subheading {
	font-size: var(--font-text);
}
.cta-btn {
	text-decoration: none;
	background-color: var(--secondary);
	color: var(--accent);
	font-size: 1.5rem;
	font-weight: 500;
	padding: 0.8rem 2.5rem;
	outline: none;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-family: "Satoshi-Medium";
}
.cta-btn :hover {
	opacity: 80%;
}

/* media-query */
@media only screen and (max-width: 1200px) {
	.s10 {
		justify-content: flex-end !important;
	}
	section {
		gap: 4rem;
		flex-wrap: wrap;
	}
	section .content-container {
		padding: 0 6rem;
		gap: 1.5rem;
	}
	.hero .hero-main-container .heading-container .heading {
		width: 100%;
	}
	.hero .hero-main-container .heading-container .subheading {
		width: 100%;
	}
	.s1 .content-container {
		width: 100%;
	}
	.s5 .content-container {
		width: 100%;
	}
	.s7 .content-container {
		width: 100%;
	}
	.s4 .content-container .text-container .heading {
		width: 100%;
	}
	.right-aligned:not(:nth-child(10)) {
		justify-content: flex-start !important;
	}

	.footer .footer-top {
		gap: 7rem;
	}
	.footer .footer-top {
		gap: 7rem;
	}
	.footer .footer-top .footer-links-list {
		gap: 3rem;
	}
}
@media only screen and (max-width: 900px) {
	.s1 .content-container {
		padding: 0;
	}
	.s1 .content-container .text-container .subheading {
		width: 100%;
	}
	.footer .footer-top {
		gap: 1rem;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.footer .brand-name {
		font-size: 15vw;
	}
	.s10 .content-container {
		width: 75%;
	}
	.s10 .form-container {
		width: 100%;
	}
}

@media only screen and (max-width: 700px) {
	.s10 .form-container .input-wrapper {
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: flex-start;
	}
	.right-aligned:not(:nth-child(1)):not(:nth-child(10)) {
		padding-left: 0;
	}
	.left-aligned {
		padding-right: 0;
	}
	section.s1, section .s7 {
		padding-right: 0 !important;
	}
	.footer {
		padding: 5rem 4rem;
		padding-bottom: 2rem;
	}
	.s4 .content-container {
		padding: 2rem 4rem;
	}
	.s5 .content-container {
		padding: 0;
		padding-right: 4rem !important;
	}
	section {
		padding: 5rem 4rem;
	}
	section .s10 {
		padding: 4rem 4rem !important;
	}
	.s5 .content-container .text-container .subheading {
		width: 100%;
	}
	.hero {
		padding: 0 4rem;
	}
	.image-bg {
		width: 4rem;
	}
	.hero .nav-pills-container {
		gap: 2rem;
	}
	.hero .hero-main-container .heading-container .heading {
		font-size: 4rem;
		line-height: 5rem;
	}
	section .s10 {
		padding: 5rem 4rem !important;
		flex-wrap: wrap;
	}
	section .s1, section .s7 {
		padding: 5rem 4rem !important;
	}
	.s10 .content-container {
		padding-right: 0;
	}
	section .content-container {
		padding: 0 4rem;
		width: 100% !important;
	}
	.footer .brand-name {
		font-size: 16vw;
	}
}

@media only screen and (max-width: 800px) {
	.hero .navbar.navbar-desktop {
		display: none;
	}
	.hero .nav-pills-container .nav-pill {
		background-color: white;
	}
	.hero .navbar.navbar-mobile {
		display: flex;
	}
}

@media only screen and (max-width: 600px) {
	:root {
		--font-text: 1.7rem;
		--font-heading: 2.5rem;
	}
	section .s1, section .s7 {
		padding: 5rem 2rem !important;
	}
	.hero .hero-main-container .heading-container .subheading, .hero .hero-main-container .actions-container .cta-signal-text {
		font-size: 1.6rem;
	}
	.s4 .content-container {
		padding: 2rem !important;
	}
	section {
		padding: 5rem 2rem;
	}
	section:not(:nth-child(4)):not(:has(.section-cover)) .content-container {
		padding: 0 !important;
	}
	.footer {
		padding: 5rem 2rem;
		padding-bottom: 2rem;
	}
	section:not(:nth-child(10)):not(:nth-child(4)) .content-container {
		padding: 0 2rem !important;
	}
	section .s4 .content-container {
		padding: 4rem;
	}
	.s10 {
		padding: 4rem 2rem !important;
	}

	section .s10 .section-content .content-container {
		padding: 0 !important;
	}

	section .s10 .section-content .content-container .text-container {
		padding: 0 !important;
	}

	section .s5 .content-container {
		padding-right: 2rem !important;
	}
	.hero {
		padding: 0 2rem;
	}
	section .content-container .text-container .heading {
		font-size: var(--font-heading);
		margin: 0;
		line-height: 4rem;
	}
	section .content-container .text-container .heading span {
		font-family: 'NeueMachina-Light';
		font-weight: normal;
	}
	.hero .hero-main-container .heading-container .subheading, .hero .hero-main-container .actions-container .cta-signal-text {
		font-size: 1.5rem;
		line-height: 2rem;
	}
	.hero .hero-main-container .actions-container {
		align-items: flex-end;
	}
	.hero .hero-main-container .actions-container .cta-signal-text {
		font-size: 1.5rem;
	}
	.s4 .content-container .text-container .heading {
		font-size: 2.7rem;
		line-height: 3.5rem;
	}
	.form-container .input-wrapper .input-field {
		font-size: 1.2rem;
	}
	.cta-btn {
		font-size: 1.2rem;
	}
	section .image-container .image-wrapper .section-cover {
		width: 19rem;
	}
	.image-bg {
		width: 2rem;
		height: 21rem;
	}
	.s10 .form-container .input-wrapper .input-field {
		width: auto;
		font-size: 1.2rem;
		margin: 0;
	}
}

@media only screen and (max-width: 500px) {
	:root {
		--font-text: 1.4rem;
		--font-heading: 2.2rem;
	}
	.hero .hero-main-container .heading-container .subheading, .hero .hero-main-container .actions-container .cta-signal-text {
		font-size: 1.4rem;
	}
	.hero .hero-main-container .heading-container .heading {
		font-size: 3rem;
		line-height: 4rem;
	}
	section .image-container .image-wrapper .section-cover {
		width: 18rem;
	}
	.image-bg {
		width: 2rem;
		height: 20rem;
	}
	.footer .brand-name {
		font-size: 15vw;
	}
	.s4 .content-container .text-container .heading {
		font-size: 2.5rem;
		line-height: 3.2rem;
	}

	.hero .hero-main-container .actions-container {
		flex-wrap: wrap;
		gap: 1rem;
		flex-direction: column-reverse;
	}
}

@media only screen and (max-width: 400px){
	:root {
		--font-text: 1.2rem;
		--font-heading: 2rem;
	}
	.hero .hero-main-container .heading-container .subheading {
		font-size: 1.2rem;
	}
	.s4 .content-container .text-container .heading {
		font-size: var(--font-heading);
	}
	section {
		padding: 3rem 0 !important;
	}
	.s4 {
		margin: 0;
	}
	section .content-container .text-container {
		gap: 1.5rem;
	}
	.s10 .form-container .input-wrapper .input-field {
		width: 100% !important;
		padding: 3px 2px;
	}
	section .image-container .image-wrapper .section-cover {
		width: 100% !important;
	}
	.s10 .form-container .cta-btn {
		padding: 0.58em 1.5rem;
	}
	.s10 .form-container .input-wrapper .input-field {
		padding: 0.5rem 2px;
	}
	.hero .hero-main-container .heading-container .heading {
		font-size: 2.5rem;
		line-height: 3.5rem;
	}
}
@media only screen and (max-width: 370px){
	.hero .hero-main-container .heading-container .heading {
		font-size: 2rem;
		line-height: 3rem;
	}
}
